{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}天气查询{% endblock %}

{% block page_content %}

<header class="jumbotron subhead">
  <div class="container">
    <h1>
      广东天气查询
    </h1>
    <p>
      <small>数据来源:中国天气网</small>
    </p>
    <a class="btn btn-primary" href="http://www.weather.com.cn/" target="_blank">
      了解更多
    </a>
  </div>
</header>

<hr />

<div class="page-header">
  {{ wtf.quick_form(form) }}
</div>

<div >
  {% if cityName %}
    <h3>查询 <b>{{ cityName }}</b> 的天气</h3>
      <hr />
    <h4>天气状况 : {{ weather }}</h4>
  {% endif %}

</div>

  <hr />

{% endblock %}
