{% extends "base.html"  %}

{% block title %}Blogs{% endblock %}

{% block page_content %}

<header class="jumbotron subhead">
  <div class="container">
    <h1>
      个人博客
    </h1>
    <p>
      <small>无聊的时候写写的地方</small>
    </p>
    <a class="btn btn-primary" href="http://maoguy.github.io/" target="_blank">
      了解更多
    </a>
  </div>
</header>

<hr />


<ul class="list-group">
  <li class="list-group-item"><a href="http://maoguy.github.io/2016/11/18/first/" target="_blank">maoguy's first githubPage blog</a></li>
  <li class="list-group-item"><a href="http://maoguy.github.io/2016/12/07/2016-12-7%E6%8A%98%E8%85%BE%E5%B0%8F%E8%AE%B0/" target="_blank">小小的记录</a></li>
</ul>

{% endblock %}
